<div>
    <h2 data-translate="escuelitaParajelesFloroApp.desenpeno.home.title">Desenpenos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="desenpenoang.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="escuelitaParajelesFloroApp.desenpeno.home.createLabel">
                        Create new Desenpeno
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="calificacion"><span data-translate="escuelitaParajelesFloroApp.desenpeno.calificacion">Calificacion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notas"><span data-translate="escuelitaParajelesFloroApp.desenpeno.notas">Notas</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jugadorCedula"><span data-translate="escuelitaParajelesFloroApp.desenpeno.jugador">Jugador</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="entrenamientoDescripcion"><span data-translate="escuelitaParajelesFloroApp.desenpeno.entrenamiento">Entrenamiento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="desenpeno in vm.desenpenos track by desenpeno.id">
                    <td><a ui-sref="desenpenoang-detail({id:desenpeno.id})">{{desenpeno.id}}</a></td>
                    <td>{{desenpeno.calificacion}}</td>
                    <td>{{desenpeno.notas}}</td>
                    <td>
                        <a ui-sref="jugadorang-detail({id:desenpeno.jugadorId})">{{desenpeno.jugadorCedula}}</a>
                    </td>
                    <td>
                        <a ui-sref="entrenamientoang-detail({id:desenpeno.entrenamientoId})">{{desenpeno.entrenamientoDescripcion}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="desenpenoang-detail({id:desenpeno.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="desenpenoang.edit({id:desenpeno.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="desenpenoang.delete({id:desenpeno.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
