
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myHorarioLabel" data-translate="escuelitaParajelesFloroApp.horario.home.createOrEditLabel">Create or edit a Horario</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.horario.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.horario.id" readonly />
        </div>
        <label class="control-label" data-translate="escuelitaParajelesFloroApp.horario.horaInicio" for="field_horaInicio">Hora Inicio</label>
        <label class="control-label" >{{vm.showTime(vm.IniH, vm.IniM)}}</label>
        <div class="form-group">
        <div class="form-group form-group-sm label-floating">
            <label for="field_horaInicio" data-translate="escuelitaParajelesFloroApp.horario.hours" class="control-label">Hours</label>
            <input type="number" class="form-control" name="horaInicioH" id="field_horaInicio"
                   ng-model="vm.IniH"
                   required min="0" max="23"/>
            <div ng-show="editForm.horaInicioH.$invalid">
                <p class="help-block"
                   ng-show="editForm.horaInicioH.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.horaInicioH.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                   ng-show="editForm.horaInicioH.$error.max" data-translate="entity.validation.max" translate-value-max="23">
                    This field cannot be more than 23.
                </p>
                <p class="help-block"
                   ng-show="editForm.horaInicioH.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>

            </div>
        </div>
        <div class="form-group form-group-sm label-floating">
            <label data-translate="escuelitaParajelesFloroApp.horario.minutes" class="control-label">Minutos</label>
            <input type="number" class="form-control" name="horaInicioM" id="field_horaInicio2"
                   ng-model="vm.IniM"
                   required min="0" max="59"/>

            <div ng-show="editForm.horaInicioM.$invalid">
                <p class="help-block"
                   ng-show="editForm.horaInicioM.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.horaInicioM.$error.min " data-translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                   ng-show="editForm.horaInicioM.$error.max " data-translate="entity.validation.max" translate-value-max="59">
                    This field cannot be more than 59.
                </p>
                <p class="help-block"
                   ng-show="editForm.horaInicioM.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <label class="control-label" data-translate="escuelitaParajelesFloroApp.horario.horaFin" for="field_horaFin">Hora Fin</label>
        <label class="control-label" >{{vm.showTime(vm.FinH, vm.FinM)}}</label>
        <div class="form-group form-group-sm label-floating">
            <label for="field_horaFin" data-translate="escuelitaParajelesFloroApp.horario.hours" class="control-label">Hours</label>
            <input type="number" class="form-control" name="horaFinH" id="field_horaFin"
                   ng-model="vm.FinH"
                   required min="0" max="23"/>
            <div ng-show="editForm.horaFinH.$invalid">
                <p class="help-block"
                   ng-show="editForm.horaFinH.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.horaFinH.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                   ng-show="editForm.horaFinH.$error.max" data-translate="entity.validation.max" translate-value-max="23">
                    This field cannot be more than 23.
                </p>
                <p class="help-block"
                   ng-show="editForm.horaFinH.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group form-group-sm label-floating">
            <label for="field_horaFin2" data-translate="escuelitaParajelesFloroApp.horario.minutes" class="control-label">Minutos</label>
            <input type="number" class="form-control" name="horaFinM" id="field_horaFin2"
                   ng-model="vm.FinM"
                   required min="0" max="59"/>
            <div ng-show="editForm.horaFinM.$invalid">
                <p class="help-block"
                   ng-show="editForm.horaFinM.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.horaFinM.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                   ng-show="editForm.horaFinM.$error.max" data-translate="entity.validation.max" translate-value-max="59">
                    This field cannot be more than 69.
                </p>
                <p class="help-block"
                   ng-show="editForm.horaFinM.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="escuelitaParajelesFloroApp.horario.dia" for="field_dia">Dia</label>
            <select class="form-control" name="dia" ng-model="vm.horario.dia" id="field_dia" required>
                <option value="LUNES" data-translate="escuelitaParajelesFloroApp.Dia.LUNES">LUNES</option>
                <option value="MARTES" data-translate="escuelitaParajelesFloroApp.Dia.MARTES">MARTES</option>
                <option value="MIERCOLES" data-translate="escuelitaParajelesFloroApp.Dia.MIERCOLES">MIERCOLES</option>
                <option value="JUEVES" data-translate="escuelitaParajelesFloroApp.Dia.JUEVES">JUEVES</option>
                <option value="VIERNES" data-translate="escuelitaParajelesFloroApp.Dia.VIERNES">VIERNES</option>
                <option value="SABADO" data-translate="escuelitaParajelesFloroApp.Dia.SABADO">SABADO</option>
                <option value="DOMINGO" data-translate="escuelitaParajelesFloroApp.Dia.DOMINGO">DOMINGO</option>
            </select>
            <div ng-show="editForm.dia.$invalid">
                <p class="help-block"
                    ng-show="editForm.dia.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="escuelitaParajelesFloroApp.horario.categoria" for="field_categoria">Categoria</label>
            <input type="number" class="form-control" name="categoria" id="field_categoria"
                    ng-model="vm.horario.categoria"
                    required />
            <div ng-show="editForm.categoria.$invalid">
                <p class="help-block"
                    ng-show="editForm.categoria.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.categoria.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
