
<div>
    <h2><span data-translate="escuelitaParajelesFloroApp.entrenamiento.detail.title">Entrenamiento</span> {{vm.entrenamiento.id}}</h2>
    <hr>
    <!--<jhi-alert-error></jhi-alert-error>-->
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="escuelitaParajelesFloroApp.entrenamiento.descripcion">Descripcion</span></dt>
        <dd>
            <span>{{vm.entrenamiento.descripcion}}</span>
        </dd>
        <dt><span data-translate="escuelitaParajelesFloroApp.entrenamiento.fechaHora">Fecha Hora</span></dt>
        <dd>
            <span>{{vm.entrenamiento.fechaHora | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="escuelitaParajelesFloroApp.entrenamiento.entrenador">Entrenador</span></dt>
        <dd>
            {{vm.entrenamiento.entrenadorLogin}}
        </dd>
        <dt><span data-translate="escuelitaParajelesFloroApp.entrenamiento.horario">Horario</span></dt>
        <dd>
            <a ui-sref="horarioang-detail({id:vm.entrenamiento.horarioId})">{{vm.entrenamiento.horarioId}}</a>
        </dd>
    </dl>
    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="entrenamientoang-detail.edit({id:vm.entrenamiento.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
    <h2>Jugadores</h2>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="nombre"><span >Cédula</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="apellido">Nombre Completo</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="posicion"><span>Posicion</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="responsableEmail"><span>Comentario</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="categoriaNombre"><span>Nota</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="jugador in vm.jugadors track by jugador.id">
                <td><a ui-sref="jugadorang-detail({id:jugador.id})">{{jugador.cedula}}</a></td>
                <td>{{jugador.nombre}} {{jugador.apellido}}</td>
                <td>{{jugador.posicion}}</td>
                <td>
                   <textarea ng-model=" jugador.desempeno.notas"></textarea>
                </td>
                <td>
                    <input type="number" max="10" min="0"  ng-model="jugador.desempeno.calificacion">
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button ng-click="vm.saveDesempenno(jugador)"
                                class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-save"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
